 <html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>New Restaurant</h1>

        <div class="text-right">
            <a href="{{url_for('gdisconnect')}}">Click Here to Logout </a>
        </div>

        <form action = "#"
        method = 'POST'>

        <p>Name:</p>
            <input type = 'text' size='30' name='name'>

        <input type='submit' value='Create'>
        <a href = '{{url_for('showRestaurants')}}'><button type="submit" class="btn btn-default delete" id="submit" type="submit"> Cancel</button> </a>
        </form>
    </body>
</html>